<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboota01.mapper.VideoMapper">

    <select id="findAll" resultType="com.example.springboota01.controller.dto.VideoDTO"></select>
    <select id="findPage" resultType="com.example.springboota01.controller.dto.VideoDTO"></select>
    <select id="findTotal" resultType="java.lang.Integer"></select>
    <select id="getFlowData" resultType="com.example.springboota01.controller.vo.Counter">
       select sum(person) as person,sum(car) as car,sum(truck) as truck,
              sum(motorcycle) as motorcycle,sum(bus) as bus
       from video join(`cross` natural join camera) using(camera_id)
       where `cross`.name like &apos;%${name}%&apos;
       and time between #{beginTime} and #{endTime}
    </select>

</mapper>
